extends baseEmail

block content
  p Hi #{firstName},
  p Just a quick email to let you know we've recieved your contact request. A team memebr will respond to you shortly.
  p If you hhave any further questions, please contact our office directly.
  p Thank you!