extends baseEmail

block content
  p Hi #{firstName},
  p We've received your request to reset your password. Click the button below the access the reset password form.
  p Please note this link will expire in 10 minutes. If this link has expired, please submit your request again.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='center')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0', align='center')
            tbody
              tr
                td(align='center')
                   a(align='center', href=`${tokenUrl}`, target='_blank') Reset your password
  p If you didn't request to reset your password, please disregard this email.