.calendar-wrapper 
  #calendar
    .calendar-header
      .pagination#prev(onclick="previous()") < Previous
      #monthAndYear March 2023
      .pagination#next(onclick="next()") Next >
    .calendar-days 
      .calendar-weekday Sun
      .calendar-weekday Mon
      .calendar-weekday Tue
      .calendar-weekday Wed
      .calendar-weekday Thu
      .calendar-weekday Fri
      .calendar-weekday Sat
      
