footer 
  .footer-content
    .footer-row
      .footer-column
        .footer-header Our Services
        .container-row 
          .footer-container  
            a.footer-link(href='/guestservices#30-minuteConsultation') Consultation
            a.footer-link(href='/guestservices#Botox®') Botox®
            a.footer-link(href='/guestservices#CoolSculpting®') CoolSculpting®
            a.footer-link(href='/guestservices#CoolTone®') CoolTone®
            a.footer-link(href='/guestservices#IPLPhotofacial') IPL Photofacial
          .footer-container
            a.footer-link(href='/guestservices#Juvéderm®') Juvéderm®
            a.footer-link(href='/guestservices#Restylane®') Restylane®
            a.footer-link(href='/guestservices#Ultherapy®') Ultherapy®
            a.footer-link(href='/guestservices#Voluma®') Voluma®
      .footer-column 
        .footer-header Site Links 
        a.footer-link(href='/') Home
        a.footer-link(href='/guestservices') Services
        a.footer-link(href='/aboutus') About Us
        a.footer-link(href='/faqs') FAQ's
        a.footer-link(href='/contact') Contact Us
      if !user
        .footer-column 
          .footer-header Account Links 
          a.footer-link(href='/login') Account Login
          a.footer-link(href='/signup') Create Account
      if user && user.role == 'user'
        .footer-column 
          .footer-header Account Links 
          a.footer-link(href='/account') Account Settings
          a.footer-link(href='/history') Account History
          a.footer-link(href='/guestservices') Book Services
          a.footer-link(href='/bookings') Current Bookings
          a.footer-link(href='/reviews') Your Reviews
      if user && user.role == 'admin'    
        .footer-column 
            .footer-header Admin Links 
            a.footer-link(href='/account') Account Settings
            a.footer-link(href='/services') Edit Services
            a.footer-link(href='/addservice') Add New Service
            a.footer-link(href='/allbookings') All Bookings
            a.footer-link(href='/allreviews') Client Reviews
            a.footer-link(href='/clients') Client List
            a.footer-link(href='/messages') Messages
      .footer-column 
        .container-row
          .footer-container
            img#footer-logo(src='/images/logo_gen.svg')
          .footer-container
            .footer-header Company Name 
            .footer-text 12345 Main Street 
            .footer-text This City, State 00000
            .footer-text (000) 000-0000 
        .footer-icon-row 
          img.footer-icon(src='/images/socialicon-01.png', alt='linkedIn')
          img.footer-icon(src='/images/socialicon-09.png', alt='facebook')
          img.footer-icon(src='/images/socialicon-03.png', alt='instagram')
          img.footer-icon(src='/images/socialicon-04.png', alt='twitter')
          img.footer-icon(src='/images/socialicon-05.png', alt='snapchat')

.copyright
  - const thisYear = new Date().getFullYear();
  span &copy;
  span= `${thisYear} AudreyDesigns.com`