.homemodal-wrapper
  .modal-container 
    #event-close &#x2715
    .modal-content
      .home-row 
        .home-section-col 
          include _calendar
          .guide-row
            .calendar-guide
              .guide-container
                .guide-img.today #
                .guide-text Today
              .guide-container 
                .guide-img.available #
                .guide-text Available 
              .guide-container
                .guide-img.selected #
                .guide-text Selected 
              .guide-container
                .guide-img.unavailable #
                .guide-text Unavailable
        .home-section-col
          .page-title Book Your Service
          br
          .modal-subtext Select a service from the options below. Then, select a date from one of the available dates on the calendar and an appointment time from the available options. Click 'Book Now' to book your appointment.
          .array-div(style='display: none')
            each available in availables
              .each-array 
                div(id=available.service._id + 'sel').dates-available= `${available.available}`

          form#booking-form2(style='width: 100%;')
            input#date-string(type='hidden', name='date-string')
            .form-group(style='width: 100%;')
              label.form-label(for='service') Select Service
              select.form-input(id='service', name='service')
                option(value='not selected' selected) select service -
                each service in services
                  option(value=`${service.id}`)= service.title
            .form-group
              label.form-label(for='book-date') Select Date
              span#book-date-note.small Please select by clicking on an available date on the calendar.
              input#book-date.form-input(type='text', name='book-date', readonly)
            .form-group
              label.form-label(for='book-time') Appointment Time
              select.form-input(id='book-time',name='book-time')
                option(value='not selected' selected) times available
                option(value='09:00am') 9:00am
                option(value='10:30am') 10:30am
                option(value='12:00pm') 12:00pm
                option(value='1:30pm') 1:30pm
                option(value='3:00pm') 3:00pm
                option(value='4:30pm') 4:30pm
            
            .form-group
              button.btn.submit.book-button Book Now
