.modal-wrapper
  .modal-container 
    #close &#x2715
    .modal-content
      img.modal-image(src='/images/botox.png')
      .modal-group 
        .modal-subtitle What does it do?
        .modal-text#item1 Relaxes wrinkles
      .modal-group
        .modal-subtitle What areas are treated?
        .modal-text#item2 Forehead, between the eyes (frown), outside and around the eyes (crow's feet)
      .modal-group
        .modal-subtitle How long does it last?
        .modal-text#item3 Lasts 3-4 months