.nav-wrapper
  - if (user.role === 'user')
    .user-view-nav
      a(href='/account') 
        .nav-link Account Settings
      a(href='/history') 
        .nav-link Account History
      a(href='/guestservices') 
        .nav-link Book Services
      a(href='/bookings') 
        .nav-link Current Bookings
      a(href='/reviews') 
        .nav-link Your Reviews
      hr.sectionHR
      a#logout 
        .nav-link Log Out
  - if (user.role === 'admin')
    .admin-view-nav
      a(href='/account') 
        .nav-link Account Settings
      a(href='/addservice') 
        .nav-link Add New Service
      a(href='/services') 
        .nav-link Edit Services
      a(href='/availability') 
        .nav-link Edit Calendar
      a(href='/allbookings') 
        .nav-link All Bookings
      - const pendcount = pendreviews.length;  
      a(href='/allreviews') 
        .nav-link Client Reviews
          if pendcount > 0
            | 
            span.small= `${pendcount} pending`
      a(href='/clients') 
        .nav-link Client List
      - const msg = messages.length;
      a(href='/messages') 
        .nav-link Messages
          if msg > 0
            | 
            span.small= `( ${msg} )`

      hr.sectionHR
      a#logout 
        .nav-link Log Out
