.nav-wrapper
  - if (user.role === 'user')
    .user-view-nav
      a(href='/services') 
        .nav-link Book Services
      a(href='/bookings') 
        .nav-link Current Bookings
      a(href='/pastbookings') 
        .nav-link Account History
      a(href='/account') 
        .nav-link Account Settings
      a#logout 
        .nav-link Log Out
  - if (user.role === 'admin')
    .admin-view-nav
      a(href='/services') 
        .nav-link Services
      a(href='/addservice') 
        .nav-link Add New Service
      a(href='/allbookings') 
        .nav-link All Bookings
      a(href='/clients') 
        .nav-link Client List
      a(href='/account') 
        .nav-link Account Settings
      a#logout 
        .nav-link Log Out
