extends base

block content
  main.main
    .page-content
      
      .service-section 
        .service-title-row
          .page-title= title
      .service-section
        .service-row
          .service-left
            .service-subhead Our Story
            .service-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Dignissim convallis aenean et tortor. Arcu dui vivamus arcu felis bibendum. Scelerisque viverra mauris in aliquam sem fringilla ut morbi.
            .service-text Amet commodo nulla facilisi nullam. Arcu dui vivamus arcu felis. Interdum posuere lorem ipsum dolor sit. Iaculis at erat pellentesque adipiscing commodo elit at imperdiet dui. Eget duis at tellus at urna. Lacus sed turpis tincidunt id aliquet.  
            .service-text Imperdiet proin fermentum leo vel orci porta. Condimentum vitae sapien pellentesque habitant morbi tristique. Proin gravida hendrerit lectus a. Proin gravida hendrerit lectus a. Proin libero nunc consequat interdum varius sit amet mattis vulputate. 
          .service-right 
            img(src='/images/logo_gen_gray.svg', alt='Logo' style='height: 100%')
      .service-section
        .service-row
          .service-left
            .service-subhead Our Mission
            .service-text Pulvinar elementum integer enim neque volutpat ac tincidunt vitae. Ornare arcu odio ut sem. Sit amet cursus sit amet dictum. Faucibus in ornare quam viverra. Elementum sagittis vitae et leo duis ut.
            .service-text Lectus urna duis convallis convallis tellus id interdum velit laoreet. Nisl nunc mi ipsum faucibus vitae. A scelerisque purus semper eget. Adipiscing elit ut aliquam purus sit amet luctus venenatis lectus. Tempor id eu nisl nunc mi ipsum faucibus. Augue lacus viverra vitae congue. Tempor id eu nisl nunc. Odio morbi quis commodo odio aenean sed adipiscing diam. 
            .service-text Enim tortor at auctor urna nunc id. Scelerisque fermentum dui faucibus in ornare quam viverra. Porttitor eget dolor morbi non arcu risus quis. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus a. Diam maecenas sed enim ut sem viverra aliquet.
          .service-right 
            img(src='/images/Jumbo.jpeg', alt='About Us')