extends base

block content
  main.main
    .page-content
      
      .service-section 
        .service-title-row
          .page-title= title
      .service-section
        .service-row
          .service-left
            .service-text I love cheese, especially when the cheese comes out everybody's happy pecorino. Melted cheese bavarian bergkase caerphilly cauliflower cheese cheese and wine cheese slices bocconcini emmental. Cheesecake cheesy feet cheese strings stilton queso st. agur blue cheese parmesan camembert de normandie. Who moved my cheese?
            .service-text Goat cheese and wine cheese triangles. Mascarpone the big cheese cheesy grin everyone loves halloumi. Blue castello port-salut macaroni cheese feta who moved my cheese cow babybel parmesan. Lancashire cheese on toast cheesy grin edam when the cheese comes out everybody's happy cheese slices lancashire bocconcini. Everyone loves port-salut monterey jack parmesan red leicester hard cheese bocconcini the big cheese. Camembert de normandie st. agur blue cheese lancashire rubber cheese cheese triangles cheese slices paneer blue castello. 
          .service-right 
            img(src='/images/storfront.jpg', alt='About Us')
      .service-section
        .service-row
          .service-left
            .service-text I love cheese, especially when the cheese comes out everybody's happy pecorino. Melted cheese bavarian bergkase caerphilly cauliflower cheese cheese and wine cheese slices bocconcini emmental. 
            .service-text Cheesecake cheesy feet cheese strings stilton queso st. agur blue cheese parmesan camembert de normandie. Who moved my cheese?
            .service-text Goat cheese and wine cheese triangles. Mascarpone the big cheese cheesy grin everyone loves halloumi. Blue castello port-salut macaroni cheese feta who moved my cheese cow babybel parmesan. Lancashire cheese on toast cheesy grin edam when the cheese comes out everybody's happy cheese slices lancashire bocconcini.
          .service-right 
            img(src='/images/Jumbo.jpeg', alt='About Us')