extends base
include reviews

block content
  main.main
    .page-content
      .header-main
        .main-image-wrapper 
          //-img.main-image(src='/images/JumboImage.jpg')
        .main-content-wrapper
          .text-wrapper
            .text-overlay Don't wait to be the most beautiful you
            a(href='/guestservices').btn.home-button Our Services
      .home-section.white  
        .section-heading Which product is right for you?
        .box-detail-text Click logos for more information.
        .slider
          .item-box 
            img.item-logo(src='/images/xeomin.png', title='Relaxes wrinkles', value='Forehead, between the eyes (frown lines)', name='Lasts 3-6 months')
          .item-box 
            img.item-logo(src='/images/botox.png', title='Relaxes wrinkles', value='Forehead, between the eyes (frown lines), outside and around the eyes (crow\'s feet)', name='Lasts 3-4 months')
          .item-box 
            img.item-logo(src='/images/juvederm.png', title='Smoothes fine lines, fills in deeper lines and wrinkles and modifies lip shape', value='Outside of the mouth and around the nose (smile lines/nasolabial folds) and lips', name='12-18 months, depending on areas treated')
          .item-box
            img.item-logo(src='/images/restylane.png', title='Relaxes wrinkles, fills in deeper lines, adds volume to cheek area and modifies lip shape', value='Outside of the mouth and around the nose (smile lines/nasolabial folds), lips and cheeks', name='Lasts 9-12 months')
          .item-box 
            img.item-logo(src='/images/RestylaneLyft.png', title='Adds volume to cheek area', value='Cheeks', name='About 12 months')
          .item-box 
            img.item-logo(src='/images/voluma.png', title='Adds volume to cheek area', value='Cheeks', name='About 2 years')
        
      .home-section
        .section-heading.scrollAni Testimonials
        .reviews_grid.scrollAni
          each review in reviews
            +reviews(review)

      .home-section.white
        .section-heading Don't wait! Book Your Service Today.
        if user
          //-a.home-book-button(href='#').btn.login-button Book Now
          .form-group
            select.form-select(id='homeservice', name='homeservice')
              option(value='not selected' selected) select a service
              each service in services
                option(value=`${service.id}`)= service.title
          a.home-book-button(href=`#homeservice`).btn.login-button Book Now
        if !user
          a(href='/login').btn.login-button Login Now
          .page-text Don't have an account? 
            a(href='/signup') Create one now
            span  to book an appointment!



  include _modal