extends base

block content
  main.main
    .page-content
      .form-style
        .form-title= title
        p.form-text Use the form below to create a new password and confirm your new password.
        form.form--resetpassword
          .form-group
            input#reset.form-input(type='hidden', value= token)
          .form-group
            label.form-label(for='password') Password (a minimim of 8 characters is required)
            input#password.form-input(type='password', autocomplete='new-password', required, minlength='8')
          .form-group
            label.form-label(for='passwordConfirm') Confirm Password
            input#password-confirm.form-input(type='password', autocomplete='new-password', required)
          .form-group
            button.submit.form-button Reset Password
