.calendar-wrapper {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 0.75rem 1.3rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.75rem 1.3rem rgba(0, 0, 0, 0.2);
}

#calendar {
  position: relative;
  width: 100%;
}

.calendarTitle {
  font-size: 2.4rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

.titleRow {
  position: relative;
  height: auto;
  background-color: var(--pagetitle);
  z-index: 2;
}

.thead {
  background-color: var(--pagetitle);
  display: grid;
  grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
  text-align: center;
}
.tr {
  display: grid;
  grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
}

.th {
  padding: 10px 0px;
  color: #fff;
  text-align: center;
}

.tbody {
  position: relative;
  background: #fff;
}

.td {
  text-align: center;
  cursor: pointer;
  text-align: center;
  padding: 20px 0px;
  color: var(--bgcolordark);
}

.td:hover {
  background-color: rgba(225, 225, 225, 0.816);
}

.nohover:hover {
  background-color: white;
  cursor: default;
}

.calendarButtons {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.calendarButtons button {
  height: 50px;
  padding: 9px 12px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  width: 30%;
  background: none;
  color: #fff;
}

.calendarButtons button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

#prev {
  text-align: left;
}

#next {
  text-align: right;
}

.calendarDiv {
  display: none;
}

#calendarTable_1 {
  display: block;
}

.today {
  color: var(--pagetitle);
  font-weight: bold;
}

.selected {
  background-color: var(--pagetitle);
  color: white;
}
