.calendar-wrapper {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 0.75rem 1.3rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.75rem 1.3rem rgba(0, 0, 0, 0.2);
}

#calendar,
#selectcalendar {
  position: relative;
  width: 100%;
  min-height: 487px;
}

.calendarTitle {
  font-size: 2.4rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

.calendarTable {
  font-size: 1.5rem;
  padding: 0px 10px 10px 10px;
}

.titleRow {
  position: relative;
  height: auto;
  background-color: var(--pagetitle);
  z-index: 2;
}

.thead {
  background-color: var(--pagetitle);
  display: grid;
  grid-template-columns: 13.5% 13.5% 13.5% 13.5% 13.5% 13.5% 13.5%;
  grid-gap: 4px;
  text-align: center;
  margin: 0px -10px;
}
.tr {
  display: grid;
  grid-template-columns: 13.5% 13.5% 13.5% 13.5% 13.5% 13.5% 13.5%;
  margin: 4px 0px;
  grid-gap: 4px;
}

.th {
  padding: 10px 0px;
  color: #fff;
  text-align: center;
}

.tbody {
  position: relative;
  background: #fff;
}

.td {
  text-align: center;
  cursor: pointer;
  text-align: center;
  padding: 20px 0px;
  color: var(--bgcolordark);
}

.td:hover {
  background-color: rgba(225, 225, 225, 0.816);
}

.nohover:hover {
  background-color: white;
  cursor: default;
}

.calendarButtons {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.calendarButtons button {
  height: 50px;
  padding: 9px 12px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  width: 30%;
  background: none;
  color: #fff;
}

.calendarButtons button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

#prev,
#prev2 {
  text-align: left;
}

#next,
#next2 {
  text-align: right;
}

.calendarDiv {
  display: none;
}

#calendarTable_1 {
  display: block;
}

.today {
  color: var(--pagetitle);
  font-weight: bold;
}

.selected {
  background-color: var(--pagetitle) !important;
  color: white !important;
}

.available {
  background-color: rgba(253, 246, 206, 0.746);
}

.unavailable {
  opacity: 0.5;
  cursor: not-allowed;
}

.unavailable:hover {
  background-color: white;
  cursor: not-allowed;
}

.guide-row {
  padding-top: 20px;
  display: flex;
  width: 100%;
}

.calendar-guide {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 35px;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--pagetext);
}

.guide-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.guide-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  margin-right: 4px;
  text-align: center;
  color: var(--bgcolordark);
  border: 1px solid var(--bgcolormed);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

#calendar-note {
  color: var(--pagetitle);
  width: 100%;
  height: 487px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  opacity: 0.5;
  padding: 60px;
}
