#footer-logo {
  width: 9rem;
}

.footer-row {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  line-height: 180%;
  align-items: stretch;
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-row:last-of-type {
  margin-right: 40px;
}

.footer-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-column:last-of-type {
  flex-grow: 1;
  border-left: 1.5px solid #ffffff9b;
  padding-left: 70px;
  margin-left: 20px;
}

.footer-header {
  font-weight: 600;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.footer-link,
.footer-text {
  color: #fff;
  font-size: 1.3rem;
  opacity: 0.6;
  text-decoration: none;
}

.footer-link:hover {
  opacity: 1;
  cursor: pointer;
}

.copyright {
  width: 100%;
  padding: 5px;
  background-color: #4a4843;
  color: var(--bgcolordark);
  text-align: center;
}

.hide {
  opacity: 0;
}

.footer-icon-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
}

.footer-icon {
  width: 30px;
  cursor: pointer;
  margin: 0px 8px;
}
