.nav-logo-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.75rem;
  width: 6rem;
  object-fit: contain;
}

#nav-logo {
  height: 4.75rem;
}

#nav-logo:hover {
  opacity: 0.6;
  height: 4.5rem;
}

.loginBar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 100rem;
  padding: 3rem 1rem 1rem 1rem;
}

.res-login {
  display: none;
}

.login a,
.login-menu a {
  text-decoration: none;
  color: var(--headertext);
}

.login a:hover,
.login-menu a:hover {
  color: silver;
  border: silver;
}

#logout:hover {
  color: silver;
  cursor: pointer;
}

.nav-right {
  display: flex;
  flex-direction: row;
}

.nav-left {
  display: flex;
  flex-direction: row;
}

.login-menu {
  font-size: 1.5rem;
  margin-left: 2rem;
  line-height: 4.2rem;
  text-transform: capitalize;
}
