.home-title {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.nav-wrapper {
  padding: 3rem 3rem 3rem 1rem;
  width: 25%;
  background-color: var(--bgcolor);
}

.nav-wrapper a {
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link {
  margin: 3rem 0rem;
  color: var(--navtext);
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-view {
  font-size: 1.3rem;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 70vh;
  height: 100%;
  max-width: 1000px;
  margin: 0rem auto;
  background-color: var(--pagebgcolor);
}

.user-view-content {
  padding: 5rem;
  width: 75%;
}

.page-title {
  font-size: 3rem;
  color: var(--pagetitle);
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}

.page-subtitle {
  font-size: 2.2rem;
  color: var(--pagetitle);
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  background-color: white;
  border-radius: 50%;
  border: 0.5rem solid var(--bgcolor);
  margin: 1.5rem 2rem 1.5rem 0rem;
  overflow: hidden;
  text-align: center;
}

.user-photo {
  height: 100%;
}

.sectionHR {
  margin: 1.5rem auto;
  color: silver;
  opacity: 0.6;
}

.booking-row {
  display: block;
  margin-top: 20px;
  font-size: 1.8rem;
  color: var(--pagetitle);
}

.booking-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--pagetitle);
  color: white;
  align-items: center;
  margin: 0px 0px 5px -10px;
  padding: 5px 10px;
  justify-content: space-between;
}

.booking-subhead {
  font-weight: 500;
  line-height: 170%;
}

.booking-text {
  display: inline;
  font-weight: 100;
}

a.booking-text {
  color: var(--pagetitle);
}

.booking-count {
  line-height: 150%;
}

.service-photo {
  display: block;
  width: 30%;
}

.service-subhead {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--pagetitle);
}

.service-subtitle {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.85rem;
  color: var(--pagetitle);
}

.service-text {
  display: block;
  line-height: 160%;
  font-size: 1.4rem;
  font-weight: lighter;
  margin: 10px 0px;
  color: var(--pagetext);
}

.service-row {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0px;
  color: var(--pagetext);
}

.service-title-row {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  flex-direction: row;
  padding: 80px 0px 20px 0px;
}

.service-section:nth-child(even) {
  background-color: white;
}

.service-section:nth-child(even) > div {
  flex-direction: row-reverse;
}

.service-left {
  width: 50%;
}
.service-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 325px;
  overflow: hidden;
  text-align: center;
}

.service-center {
  width: 100%;
  text-align: center;
  padding: 60px;
}

.service-right img {
  width: 150%;
}

.service-photo {
  width: 40%;
  margin-right: 20px;
}

.page-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
}

.page-gap {
  width: 100%;
  height: 40px;
  display: hidden;
}

.cancel-booking-row {
  width: 100%;
  margin: 10px 10px 0px 0px;
  padding-right: 10px;
  text-align: right;
}

a.cancel-booking,
a.create-review,
a.delete-review {
  color: var(--pagetitle);
  font-size: 1.3rem;
}

.book-now-button {
  display: block;
  width: 100%;
  background-color: var(--pagetitle);
  color: white;
  height: 3.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 3.5rem;
  cursor: pointer;
  margin: 1.5rem 0rem;
  text-align: center;
}
